body{
    background-color: rgb(255, 204, 153);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: rgb(255, 204, 153);
}

.map{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: space-around;
    border-style: dashed;
}


.map div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    border: 5px;
    border-style: dashed;
    border-color: rgb(94, 87, 70);
    width: 200px;
    height: 200px;
    margin: 20px;
}

.map div img{
    width:60px;
    height: auto;
}

.score{
    background-color: rgb(94, 87, 70);
    border-radius: 10px;
    border: 2px;
    height: auto;
    width:max-content;
}
.score > div{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.score .player{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
}

button{
    border-radius: 20px;
    border: 0;
    width: auto;
    padding-inline: 10px;
    background-color: rgb(255, 204, 153);
    color: rgb(94, 87, 70);
    margin-inline: 2px;
}
#addyellow{
    background-color: yellow;
    height: 20px;
}
#addblue{
    background-color: blue;
    height: 20px;
}
#addpurple{
    background-color: purple;
    height: 20px;
}
#addred{
    background-color: red;
    height: 20px;
}
#addorange{
    background-color: orange;
    height: 20px;
}
#addgreen{
    background-color: green;
    height: 20px;
}
h6{
    display: flex;
    font-size: small;
    color: rgb(255, 204, 153);
    width: 10px;
    justify-content: center;
}

.name{
    width: 100px;
}

@media (max-width: 480px) {
    main {
        height: auto;
    }
}










footer {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-image: url("images/background.png");
    background-size: contain;
}

footer h5{
    color: rgb(74, 25, 44);;
}

.icon img{
    margin-top: -100px;
    width: 150px;
}
@media (max-width: 480px) {
    .icon img{
        margin-top: -100px;
        width: 150px;
    }
  }